@import url('recet.css');

body {
    background: pink;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    color: blueviolet;
}

.test {
    width: 70px;
    height: 100px;
}

.color-red {
    color: red;
}